header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  width: 100%;
  z-index: 2;

  padding: 25px 0px;
  .navbar {
    .navbar-brand {
      img {
        height: 56px;
        object-fit: cover;
      }
    }
    .navbar-collapse {
      .navbar-nav {
        align-items: center;
        gap: 15px;
        .nav-item {
          a {
            color: $site-primary-color;
            font-size: 20px;
          }
          .site-btn {
            @include site-btn;
            background-color: $site-pink-color;
          }
        }
      }
    }
  }
}

// hero section start
.hero-section {
  background-image: url("../../../images/hero-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 140px;

  .container {
    .row {
      padding-top: 100px;
    }
    .hero-content-area {
      .text-wrapper {
        h1 {
          font-size: 67px;
          line-height: 80px;
          color: $site-primary-color;

          .clickTxt {
            display: inline-block;
            position: relative;

            .box {
              position: absolute;
              top: -5px;
              left: -5px;
              width: 215px;

              svg {
                stroke: url(#paint0_linear_101_1900);
                stroke-dasharray: 363 243;
                stroke-linecap: round;
                animation: changeColor 5s linear infinite;
              }
            }
          }
        }
        .sub-title {
          margin: 30px 0px 20px 0px;
        }
        p {
          font-size: 24px;
          color: $site-primary-color;
          line-height: 34px;
        }
      }
    }
    .img-wrapper {
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
      }

      .handwithglass {
        animation: wing1 1.5s ease-in-out infinite alternate;
        transform-origin: bottom;
      }
      .illustr-face1 {
        animation: wing2 2.5s ease-in-out infinite alternate;
        transform-origin: left;
      }
      .women-hand-illustr1 {
        animation: wing3 2s ease-in-out infinite alternate;
        transform-origin: right;
      }
      .women-handleft-illustr1 {
        animation: wing4 3s ease-in-out infinite alternate;
        transform-origin: right;
      }
      .graph-bar1 {
        animation: upDown1 0.8s ease-in-out infinite alternate;
      }
      .graph-bar2 {
        animation-delay: 0.2s;
        animation: upDown2 0.9s ease-in-out infinite alternate;
      }
      .graph-bar3 {
        animation-delay: 0.4s;
        animation: upDown3 1s ease-in-out infinite alternate;
      }
      .point-1 {
        animation: blink1 1s ease-in-out infinite alternate;
      }
      .point-2 {
        animation: blink1 1s ease-in-out infinite alternate;
        animation-delay: 0.5s;
      }
      .pointRunning1 {
        animation: pointRunning1 8s linear infinite alternate;
      }
      .pointRunning2 {
        animation: pointRunning2 12s linear infinite alternate;
      }
    }
    svg {
      width: 100%;
      height: auto;
      cursor: pointer;

      .gear-circle-1,
      .outline-bord,
      .gear-circle-2 {
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        .gear-circle-1 {
          transform: translate(10px);
          transform-origin: center;
        }
        .gear-circle-2 {
          transform: translate(-20px);
          transform-origin: center;
        }
        .outline-bord {
          transform: translateX(-35px);
        }
      }
    }
  }
}

@keyframes changeColor {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 600;
  }
}
.point-1 {
  animation: blink1 1s ease-in-out infinite alternate;
}
.pointRunning1 {
  animation: pointRunning1 8s linear infinite alternate;
}
.pointRunning2 {
  animation: pointRunning2 12s linear infinite alternate;
}
// why-adverlo-section start
.why-adverlo-section {
  padding-top: 40px;
  padding-bottom: 120px;
  .row {
    .img-wrapper {
      width: 100%;
      // img {
      //   max-width: 576px;
      //   max-height: 519px;
      // }
      svg {
        max-width: 576px;
        max-height: 519px;
      }
    }
    .content-wrapper {
      h4 {
        font-size: 38px;
        color: #000;
      }
      p {
        font-size: 20px;
        line-height: 30px;
        margin-top: 30px;

        &:last-child {
          margin-top: 15px;
          margin-bottom: 40px;
        }
      }
    }
  }
}

// adsFor-busines-section start

.adsFor-busines-section {
  background-image: url("../../../images/section-bg-primary.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 130px;
  padding-bottom: 150px;

  position: relative;
  overflow: hidden;

  .shape {
    width: 200px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    // z-index: 5;
    animation: moveShape 10s linear infinite alternate;
    img {
      width: 100%;
    }
  }
  .shape2 {
    width: 200px;
    height: 293px;
    position: absolute;
    top: 0;
    right: 0px;
    // transform: translateY(-50%);
    // z-index: 5;
    animation: moveShape2 7s linear infinite alternate;
    img {
      width: 200px;
      height: 293px;
    }
  }
  .container {
    .section-title {
      text-align: center;
      font-size: 38px;
      line-height: 48px;
      color: $site-primary-color;
    }
    .content-wrapper-raw {
      //   margin-top: 130px;
      .row {
        .single-box {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          margin-top: 110px;
          img {
            width: 91px;
            height: 91px;
            object-fit: cover;
          }
          span {
            font-size: 28px;
            margin-top: 40px;
            color: $site-primary-color;
          }
        }
      }
    }
  }
}

// offer section start
.offer-section {
  padding-top: 122px;
  padding-bottom: 150px;
  .container {
    .row {
      text-align: center;
      .section-title {
        font-size: 38px;
        line-height: 48px;
        color: #000;
      }
      .adv-img-wrapper {
        margin: 30px 0px 45px 0px;
        svg {
          max-width: 217px;
          object-fit: cover;
        }
      }
      .adv-illustr-wrapper {
        svg {
          max-width: 1000px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

// other-serv-offer-section start
.other-serv-offer-section {
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: url("../../../images/section-bg-primary.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;

  .shape {
    width: 200px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    // z-index: 5;
    animation: moveShape 10s linear infinite alternate;
    img {
      width: 100%;
    }
  }
  .shape2 {
    width: 200px;
    height: 293px;
    position: absolute;
    top: 0;
    right: 0px;
    // transform: translateY(-50%);
    // z-index: 5;
    animation: moveShape2 7s linear infinite alternate;
    img {
      width: 200px;
      height: 293px;
    }
  }

  .content-wrapper {
    h2 {
      color: $site-primary-color;
      font-size: 38px;
      line-height: 48px;
    }
    p,
    span {
      color: $site-primary-color;
      font-size: 20px;
      line-height: 30px;
    }
    p {
      margin-top: 30px;
      margin-bottom: 20px;
    }
    span {
      margin-bottom: 40px;
    }
  }

  .img-wrapper {
    width: 100%;
    svg {
      width: 100%;
      object-fit: cover;
    }
  }
}

// sale-busines-section
.sale-busines-section {
  padding-top: 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .img-wrapper {
    svg {
      width: 100%;
      margin-bottom: -21px;
    }
  }
}

// meetAteam-section
.meetAteam-section {
  padding: 180px 0px;
  background-image: url("../../../images/section-bg-primary.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;

  .shape {
    width: 200px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 0px;
    transform: translateY(-50%);
    z-index: 5;
    animation: moveShape 10s linear infinite alternate;
    img {
      width: 100%;
    }
  }
  .shape2 {
    width: 200px;
    height: 293px;
    position: absolute;
    top: 30%;
    right: 0px;
    transform: translateY(-50%);
    z-index: 5;
    animation: moveShape2 6s linear infinite alternate;
    img {
      width: 200px;
      height: 293px;
    }
  }

  .container {
    .section-title {
      text-align: center;
      color: #fff;
      h2 {
        font-size: 38px;
        line-height: 48px;
      }
      p {
        margin-top: 30px;
        font-size: 20px;
        line-height: 30px;

        &:last-child {
          margin-top: 20px;
        }
      }
    }

    .team-member-wrapper {
      margin-top: 50px;
      .single-box {
        text-align: center;
        color: #fff;
        img {
          max-width: 194px;
          width: 100%;
          margin-bottom: 30px;
          object-fit: cover;
        }
        h3 {
          font-size: 28px;
          line-height: 34px;
          margin-bottom: 8px;
        }
        span {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }
}

// meeting-section

.meeting-section {
  padding-top: 100px;
  padding-bottom: 100px;

  .meeting-content-wrapper {
    align-items: center;
  }
  .meeting-box-area {
    .box-top {
      margin-bottom: 15px;
      text-align: center;

      img {
        width: 100px;
        object-fit: cover;
        margin-bottom: 10px;
      }
      span {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        display: block;
      }
    }
    .title {
      font-size: 24px;
      line-height: 48px;
      margin-bottom: 10px;
      text-align: center;
    }
    .sub-title {
      font-size: 21px;
      line-height: 26px;
      margin-bottom: 30px;
      text-align: center;
    }
    .content {
      p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 28px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .img-wrapper {
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }
}

// have-q-section
.have-q-section {
  padding: 100px 0px;

  background-image: url("../../../images/have-q-bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  .section-title {
    text-align: center;
    color: #fff;
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 40px;
  }
  svg {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }
  p {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-top: 40px;
  }
}

// footer
footer {
  background: #071923;
  border-top: 1px solid #fff;
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    color: #fff;

    span {
      a {
        color: #fff;
      }
    }
  }
}

@keyframes pointRunning1 {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(50px) translateY(-20px);
  }
  70% {
    transform: translateX(50px) translateY(0px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}
@keyframes pointRunning2 {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(-50px) translateY(20px);
  }
  70% {
    transform: translateX(-50px) translateY(0px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}
@keyframes blink1 {
  100% {
    transform: scale(1);
    fill: #fff;
  }
}

@keyframes wing1 {
  0% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(-1deg);
  }
}
@keyframes wing2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(3deg);
  }
}
@keyframes wing3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(4deg);
  }
}
@keyframes wing4 {
  0% {
    transform: rotate(0deg) translateY(5px);
  }

  100% {
    transform: rotate(2deg) translateY(5px);
  }
}
@keyframes upDown1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(5px);
  }
}
@keyframes upDown2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(8px);
  }
}
@keyframes upDown3 {
  0% {
    transform: translateY(-3);
  }

  100% {
    transform: translateY(8px);
  }
}

.box-move {
  animation: boxMove 3.5s ease-in-out infinite alternate;
}
.box-move2 {
  animation: boxMove2 3.5s ease-in-out infinite alternate;
}
.women-hand-illustr1 {
  animation: wing3 2s ease-in-out infinite alternate;
  transform-origin: right;
}
.women-handleft-illustr1 {
  animation: wing4 3s ease-in-out infinite alternate;
  transform-origin: right;
}
.add-row-bar {
  animation: blink1 1s ease-in-out infinite alternate;
  // transform: translateX(-30px);
}
.add-row-bar2 {
  animation: blink1 1s ease-in-out infinite alternate;
  animation-delay: 1.2s;
}
.add-row-bar3 {
  animation: blink1 1s ease-in-out infinite alternate;
  animation-delay: 1.4s;
}

.pointer-move {
  animation: pointerMove 2.5s ease-in-out infinite alternate;
}
.pointer-click-spark {
  animation: clickSpark 2.7s ease-in-out infinite alternate;
  // animation-delay: 2.5s;
  // display: none;
  transform: scale(0);
}

@keyframes clickSpark {
  0% {
    display: none;
    transform: translateX(-2px) translateY(-2px) scale(0);
  }

  100% {
    transform: scale(1);
    fill: "#fff";
  }
}
@keyframes pointerMove {
  0% {
    transform: translateX(50px) translateY(20px) rotate(10deg);
  }

  100% {
    transform: translate(0px) translateY(0px) rotate(0deg);
    // fill: "#fff";
  }
}
@keyframes barForward {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    fill: "#fff";
  }
}
@keyframes boxMove {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(25px);
  }
}
@keyframes boxMove2 {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-25px);
  }
}
.box-move3 {
  animation: boxMove3 2.5s ease-in-out infinite alternate;
}
.box-move4 {
  animation: boxMove4 2.5s ease-in-out infinite alternate;
}
@keyframes boxMove3 {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(15px);
  }
}
@keyframes boxMove4 {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-12px);
  }
}

.chatMove {
  animation: chatMove 2.5s ease-in-out infinite alternate;
  transform-origin: left;
}
@keyframes chatMove {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}
.chatMove3 {
  animation: chatMove3 2.5s ease-in-out infinite alternate;
  transform-origin: left;
}
@keyframes chatMove3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-1deg);
  }
}
.chatMoveReverse {
  animation: chatMoveReverse 2.5s ease-in-out infinite alternate;
  transform-origin: right;
}
@keyframes chatMoveReverse {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(3deg);
  }
}

.chatblink1 {
  animation: chatblink1 1s ease-in-out infinite alternate;
}

@keyframes chatblink1 {
  100% {
    transform: scale(1);
    fill: green;
  }
}

.chatCircle {
  animation: chatCircle 2.5s ease-in-out infinite alternate;
  transform-origin: right;
}
@keyframes chatCircle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(3deg);
  }
}
.chatCircle2 {
  animation: chatCircle2 3.5s ease-in-out infinite alternate;
  transform-origin: right;
}
@keyframes chatCircle2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(3deg);
  }
}
.crossMove {
  animation: crossMove 3.5s ease-in-out infinite alternate;
  transform-origin: right;
}
@keyframes crossMove {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1deg);
  }
}
.crossMove2 {
  animation: crossMove2 3.5s ease-in-out infinite alternate;
  transform-origin: right;
  animation-delay: 0.5s;
}
@keyframes crossMove2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1deg);
  }
}
.flagWave {
  animation: flagWave 3.5s ease-in-out infinite alternate;
  // transform-origin: right;
}
@keyframes flagWave {
  0% {
    transform: rotate(0deg) translateX(0px);
  }

  100% {
    transform: rotate(1deg) translateX(10px);
  }
}
.flagWave2 {
  animation: flagWave2 3.2s ease-in-out infinite alternate;
  // transform-origin: right;
  animation-delay: 0.5s;
}
@keyframes flagWave2 {
  0% {
    transform: rotate(0deg) translateX(0px);
  }

  100% {
    transform: rotate(1.5deg) translateX(10px);
  }
}
.flagWave3 {
  animation: flagWave3 3.3s ease-in-out infinite alternate;
  // transform-origin: right;
  animation-delay: 0.5s;
}
@keyframes flagWave3 {
  0% {
    transform: rotate(0deg) translateX(0px);
  }

  100% {
    transform: rotate(2deg) translateX(10px);
  }
}
.rotataion1 {
  animation: rotataion1 3.3s ease-in-out infinite alternate;
  transform-origin: center;
}
@keyframes rotataion1 {
  0% {
    transform: rotateZ(0deg) translateY(0px);
  }

  100% {
    transform: rotateZ(1.5deg) translateY(-5px);
  }
}
.rotataion2 {
  animation: rotataion2 3.3s ease-in-out infinite alternate;
  transform-origin: center;
}
@keyframes rotataion2 {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(1.5deg);
  }
}

// .statisticMove {
//   animation: statisticMove 2s ease-in-out infinite alternate;
// }

// @keyframes statisticMove {
//   0% {
//     transform: translate(10px);
//   }
//   100% {
//     transform: translate(0px);
//   }
// }

@keyframes moveShape {
  0% {
    transform: translate(0px) rotate(0deg);
  }
  100% {
    transform: translate(-40px) rotate(-20deg);
  }
}
@keyframes moveShape2 {
  0% {
    transform: translate(0px) rotate(0deg);
  }
  100% {
    transform: translate(40px) rotate(20deg);
  }
}
