header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  width: 100%;
  z-index: 2;

  padding: 25px 0px;
  .navbar {
    .navbar-brand {
      img {
        height: 56px;
        object-fit: cover;
      }
    }
    .navbar-collapse {
      .navbar-nav {
        align-items: center;
        gap: 15px;
        .nav-item {
          a {
            color: $site-primary-color;
            font-size: 20px;
          }
          .site-btn {
            @include site-btn;
            background-color: $site-pink-color;
          }
        }
      }
    }
  }
}

// hero section start
.hero-section {
  background-image: url("../../../images/hero-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 140px;

  .container {
    .row {
      padding-top: 100px;
    }
    .hero-content-area {
      .text-wrapper {
        h1 {
          font-size: 67px;
          line-height: 80px;
          color: $site-primary-color;
        }
        .sub-title {
          margin: 30px 0px 20px 0px;
        }
        p {
          font-size: 24px;
          color: $site-primary-color;
          line-height: 34px;
        }
      }
    }
    .img-wrapper {
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

// why-adverlo-section start
.why-adverlo-section {
  padding-top: 40px;
  padding-bottom: 120px;
  .row {
    .img-wrapper {
      width: 100%;
      img {
        max-width: 576px;
        max-height: 519px;
      }
    }
    .content-wrapper {
      h4 {
        font-size: 38px;
        color: #000;
      }
      p {
        font-size: 20px;
        line-height: 30px;
        margin-top: 30px;

        &:last-child {
          margin-top: 15px;
          margin-bottom: 40px;
        }
      }
    }
  }
}

// adsFor-busines-section start

.adsFor-busines-section {
  background-image: url("../../../images/ads-section-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 130px;
  padding-bottom: 150px;
  .container {
    .section-title {
      text-align: center;
      font-size: 38px;
      line-height: 48px;
      color: $site-primary-color;
    }
    .content-wrapper-raw {
      //   margin-top: 130px;
      .row {
        .single-box {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          margin-top: 110px;
          img {
            max-width: 91px;
            max-height: 91px;
            object-fit: cover;
          }
          span {
            font-size: 28px;
            margin-top: 40px;
            color: $site-primary-color;
          }
        }
      }
    }
  }
}
